* {
    font-family: "Peignot Bold", bold, peignot;
    color: white;
}

body {
    background-color: rgb(3, 70, 148);
   
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-menu {
    list-style-type:none;
    float: right;
}

.menu-item {
    display:inline-block;
}

.menu-item a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

.menu-item a:hover {
    color: rgb(219, 161, 17);
    border-bottom: 1px solid rgb(219, 161, 17);
}

#logout a:hover{
    color: rgb(238, 36, 44);
    border-bottom: 1px solid rgb(238, 36, 44);
}

.title{
    text-align: center;
}

.table{
    background-color: rgb(219, 161, 17);
    
}



th, td{
    color:rgb(3, 70, 148);
    font-weight: bold;
    text-align: center;
}

.btn:hover{
    color: rgb(219, 161, 17);
}

.btn{
    border-color: rgb(219, 161, 17);
}





